// Imports -------------------------------------------------------------------

@import "susy";

// Grid ----------------------------------------------------------------------

$total-cols             : 12;
$col-width              : 4.6em;
$gutter-width           : 1em;
$side-gutter-width      : 2em;

$show-grid-backgrounds  : true;